Repository bounswe/bounswe2024group11, pull requests merged in 2024-10, with the labels that each got.

#517 feat(be): implement token obtain pair (login) and register endopints
  backend/.env.example
  backend/.gitignore
  backend/README.md
  backend/config/__init__.py
  backend/config/asgi.py
  backend/config/settings.py
  backend/config/urls.py
  backend/config/wsgi.py
  backend/core/__init__.py
  backend/core/admin.py
  backend/core/apps.py
  backend/core/migrations/0001_initial.py
  backend/core/migrations/__init__.py
  backend/core/migrations/__pycache__/__init__.cpython-310.pyc
  backend/core/models.py
  backend/core/serializers.py
  backend/core/tests/__init__.py
  backend/core/tests/test_jwt.py
  backend/core/urls.py
  backend/core/views/__init__.py
  backend/core/views/jwt_views.py
  backend/core/views/views.py
  backend/manage.py
  backend/requirements.txt
Labels: app: be, pri: high

#522 chore(mobile): bootstrap mobile app
  .idea/.gitignore
  .idea/bounswe2024group11.iml
  .idea/caches/deviceStreaming.xml
  .idea/modules.xml
  .idea/runConfigurations.xml
  .idea/vcs.xml
  mobile/.gitignore
  mobile/App.tsx
  mobile/app.json
  mobile/assets/adaptive-icon.png
  mobile/assets/favicon.png
  mobile/assets/icon.png
  mobile/assets/splash.png
  mobile/babel.config.js
  mobile/package-lock.json
  mobile/package.json
  mobile/tsconfig.json
Labels: pri: medium, app:mobile

#523 feat(mobile): add auth context
  mobile/App.tsx
  mobile/app/context/AuthContext.tsx
  mobile/app/screens/Home.tsx
  mobile/app/screens/Login.tsx
Labels: pri: medium, app:mobile

#512 feat(client): implement register page and routing
  client/package.json
  client/pnpm-lock.yaml
  client/public/mockServiceWorker.js
  client/src/components/button.tsx
  client/src/components/input.tsx
  client/src/components/toast.tsx
  client/src/constants.ts
  client/src/hooks.ts
  client/src/index.css
  client/src/main.tsx
  client/src/mocks/data.ts
  client/src/mocks/handlers.ts
  client/src/router.tsx
  client/src/routes/Home.data.tsx
  client/src/routes/Home.tsx
  client/src/routes/Login.data.ts
  client/src/routes/Login.tsx
  client/src/routes/Logout.data.tsx
  client/src/routes/Register.data.ts
  client/src/routes/Register.tsx
  client/src/routes/_root.tsx
  client/src/store.ts
  client/src/utils.tsx
  client/tailwind.config.js
Labels: app: fe, app: design, pri: high

#530 w3c(client): add relevant aria attributes to toast modal
  client/src/components/toast.tsx
Labels: type: improvement, app: fe

#542 chore(mobile): implement mock server for forum pages
  mobile/db.json
  mobile/package-lock.json
  mobile/package.json
Labels: pri: medium, app:mobile

#555 feat(devops): dockerize application
  backend/Dockerfile
  backend/config/settings.py
  backend/requirements.txt
  backend/wait-for-it.sh
  client/Dockerfile
  client/public/mockServiceWorker.js
  client/src/routes/Home.data.tsx
  client/src/routes/Quizzes.data.tsx
  client/tsconfig.app.tsbuildinfo
  docker-compose.yml
  nginx/nginx.conf
Labels: app: devops, pri: high

#561 feat(be): Add pagination for Forum Questions
  backend/config/settings.py
  backend/core/tests/test_forum_question.py
  backend/core/views/forum_views.py
Labels: app: be, pri: urgent

#547 feat(be): implement tagging endpoint and document the swagger for it
  backend/config/settings.py
  backend/core/tests/test_forum_question.py
  backend/core/urls.py
  backend/core/views/forum_views.py
  backend/core/views/tagging_views.py
  backend/requirements.txt
  backend/swagger.yaml
Labels: app: be, pri: high

#560 feat(client): generate mock data for quizzes
  client/src/mocks/handlers.quiz.ts
  client/src/mocks/mockQuizzes.ts
  client/src/mocks/quiz.ts
  client/src/routes/Quizzes.data.tsx
Labels: app: fe, pri: medium

#546 feat(be): implement forum-question endpoint and tagging endpoint
  backend/config/settings.py
  backend/config/urls.py
  backend/core/migrations/0002_forumquestion.py
  backend/core/migrations/0003_tag_remove_forumquestion_tag_forumquestion_tag_id.py
  backend/core/migrations/0004_rename_tag_id_forumquestion_tags.py
  backend/core/migrations/0005_customuser_avatar.py
  backend/core/models.py
  backend/core/permissions.py
  backend/core/serializers.py
  backend/core/tests/test_forum_question.py
  backend/core/urls.py
  backend/core/views/forum_views.py
  backend/core/views/tagging_views.py
  backend/requirements.txt
  backend/swagger.yaml
Labels: app: be, pri: high

#573 feat(mobile): implement forumQuestionDetail screen and enhance forum feed screen
  mobile/App.tsx
  mobile/app/components/AuthorView.tsx
  mobile/app/components/BookmarkButton.tsx
  mobile/app/components/ForumAnswerCard.tsx
  mobile/app/components/ForumQuestionCard.tsx
  mobile/app/components/VoteButtonsView.tsx
  mobile/app/screens/Forum.tsx
  mobile/app/screens/ForumQuestionDetail.tsx
  mobile/app/types/forum.ts
  mobile/app/utils.tsx
  mobile/db.json
  mobile/package-lock.json
  mobile/package.json
Labels: pri: high, app:mobile

#577 chore(mobile): add prettier as a dev dependency for mobile application
  mobile/App.tsx
  mobile/app/components/AuthorView.tsx
  mobile/app/components/BookmarkButton.tsx
  mobile/app/components/ForumAnswerCard.tsx
  mobile/app/components/ForumQuestionCard.tsx
  mobile/app/components/VoteButtonsView.tsx
  mobile/app/context/AuthContext.tsx
  mobile/app/screens/Forum.tsx
  mobile/app/screens/ForumQuestionDetail.tsx
  mobile/app/screens/Home.tsx
  mobile/app/screens/Login.tsx
  mobile/app/types/forum.ts
  mobile/app/utils.tsx
  mobile/package-lock.json
  mobile/package.json
Labels: pri: medium, app:mobile

#576 feat(mobile): implement CreateQuestion on forum screen
  mobile/App.tsx
  mobile/app/screens/CreateQuestion.tsx
  mobile/app/screens/Forum.tsx
Labels: pri: high, app:mobile

#570 feat(devops): dockerize the full application and initialize CI/CD workflow for the dev environment
  .github/workflows/aws_dev.yml
  .gitignore
  Makefile
  backend/config/settings.py
  client/tsconfig.app.tsbuildinfo
  docker-compose.dev.yml
  mobile/.gitignore
  nginx/Dockerfile
Labels: app: devops, pri: medium

#583 feat(client): add content to home and refine leaderboard data & design
  client/index.html
  client/public/innovator.woff2
  client/src/components/quiz-card.tsx
  client/src/mocks/mocks.quiz.ts
  client/src/routes/Home.tsx
  client/src/routes/Leaderboard.tsx
  client/src/routes/Quiz.data.tsx
  client/src/routes/Quiz.tsx
  client/src/routes/Quizzes.tsx
  client/src/utils.tsx
Labels: type: improvement, app: fe, app: design, pri: high

#585 feat(mobile): update navigation and add Register screen
  mobile/App.tsx
  mobile/app/context/AuthContext.tsx
  mobile/app/screens/Login.tsx
  mobile/app/screens/Register.tsx
  mobile/assets/turquiz_logo.png
  mobile/assets/turquiz_logomark.png
Labels: type: improvement, app: design, pri: high, app:mobile

#584 feat(mobile): add bottom Tab
  mobile/App.tsx
  mobile/app/screens/Leaderboard.tsx
  mobile/app/screens/Profile.tsx
  mobile/app/screens/Quiz.tsx
  mobile/assets/forum_icon.png
  mobile/assets/leaderboard_icon.png
  mobile/assets/profile_icon.png
  mobile/assets/quiz_icon.png
  mobile/package-lock.json
  mobile/package.json
Labels: pri: high, app:mobile

#587 feat(mobile): connect mobile to backend and implement tagging for forum questions
  mobile/App.tsx
  mobile/app/context/AuthContext.tsx
  mobile/app/screens/CreateQuestion.tsx
  mobile/app/screens/Forum.tsx
  mobile/app/screens/Login.tsx
  mobile/app/screens/Register.tsx
  mobile/app/types/tag.ts
  mobile/app/types/user.ts
Labels: pri: high, app:mobile
